.home {
    position: relative;
    @include flex();
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    color: $color-white;
    user-select: none;

    p {
        color: $color-white;
    }

    &__background {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
    }

    &__content {
        position: relative;
        flex: 1;
        margin: 32px 24px;
    }

    &__wrapper {
        @include flex(column, space-between);
        height: 100%;
    }

    &__subtitle {
        @include flex(column, flex-start, stretch, nowrap, 8px);
        text-transform: uppercase;
        letter-spacing: 1.2px;
        font-size: 12px;
        
        .home__icon {
            width: 10px;
            height: auto;
            flex-shrink: 0;
            
            &--desktop {
                display: none;
            }
            
            &--mobile {
                display: block;
            }
        }
    }

    &__meta--item {
        @include flex(row, center, center, nowrap, 8px);
    }

    &__meta {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__main {
        @include flex(column, center, stretch, nowrap, 16px);
        text-align: center;
    }

    &__title {
        font-size: clamp(3rem, 12vw, 6rem);
        letter-spacing: clamp(2px, 1.5vw, 8px);
    }

    &__description {
        font-weight: $font-weight__light;
        letter-spacing: 1.5px;
    }

    &__cta {
        position: absolute;
        bottom: 0;
        right: 0;
        @include flex(row, center);
        padding: 1.5rem;
        background-color: $color-white;
        border-radius: 50%;
        color: $color-dark-blue;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

        &--icon {
            width: 26px;
            transition: transform 0.2s ease;

            .home__cta:hover & {
                transform: rotate(45deg);
            }
        }
    }

    &__socials {
        @include flex(row, flex-start, center, nowrap, 20px);

        .socials {
            &__link {
                @include flex();
                padding: 10px;
                border-radius: 50px;
            }

            &__icon {
                width: 24px;
                height: auto;
                color: $color-white;
                stroke-width: 1px;
            }
        }
    }
}

// Small Tablets
// _____________________________

@media screen and (min-width: $screen-sm) {
    .home {
        &__subtitle {
            @include flex(row, space-between, center);
            font-size: 16px;
            
            .home__icon {
                width: 12px;
                
                &--mobile {
                    display: none;
                }
                
                &--desktop {
                    display: block;
                }
            }
        }

        &__meta--item {
            gap: 15px;
        }
    }
}

// Tablet
// _____________________________

@media screen and (min-width: $screen-md) {
    .home {
        &__content {
            margin: 40px auto;
            padding: 0 40px;
            max-width: $screen-xxl;
        }

        &__subtitle {
            font-size: 18px;
            
            .home__icon {
                width: 16px;
            }
        }

        &__meta--item {
            gap: 20px;
        }

        &__main {
            gap: 24px;
        }

        &__title {
            font-size: 104px;
            letter-spacing: 8px;
        }

        &__description {
            font-size: 24px;
        }

        &__cta {
            right: 40px;
            padding: 1.8rem;

            &--icon {
                width: 32px;
            }
        }

        &__socials {
            gap: 40px;

            .socials__icon {
                width: 32px;
            }
        }
    }
}
