.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.btn {
  padding: 12px 24px;
  border: 1px solid black;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    background: black;
    color: white;
  }
}
