
$color-black: #0E0000;
$color-white: #FAF9F6;

$color-grey: #666666;
$color-grey-dark: #444;

$color-blue: #1302ff;
$color-dark-blue: #001797;
$color-dark-blue--transparent: rgb(198, 194, 255, 1);
$color-light-purple: #BFB5F2;
