
$color-black: #0E0000;
$color-white: #FAF9F6;

$color-grey: #666666;
$color-grey-dark: #444;

$color-blue: #1302ff;
$color-dark-blue: #001797;
$color-dark-blue--trasparent: rgb(0, 23, 151, 0.2);
$color-light-purple: #BFB5F2;
