h1 {
    font-family: $font-secondary;
    font-size: $font-5xl;
    letter-spacing: $ls-xl;
    line-height: $lh-normal;
}

h2 {
    font-family: $font-secondary;
    font-size: $font-lg;
    letter-spacing: $ls-lg;
    line-height: $lh-normal;
}

h3 {
    font-family: $font-primary;
    font-size: $font-base;
    letter-spacing: $ls-lg;
}

p {
    color: $color-grey-dark;
    font-size: 18px;
    line-height: 28px;
}

// Tablet
// ______________________________

@media (min-width: $screen-xl) {
    p {
        font-size: 16px;
        line-height: 24px;
    }
}
