h1 {
    font-family: $font-secondary;
    font-size: $font-4xl;
    letter-spacing: $ls-wide;
    line-height: $lh-normal;
}

h2 {
    font-family: $font-secondary;
    font-size: $font-lg;
    letter-spacing: $ls-wide;
    line-height: $lh-normal;
}

h3 {
    font-family: $font-primary;
    font-size: $font-base;
    letter-spacing: $ls-wide;
}
